@import url('https://fonts.googleapis.com/css2?family=Montserrat');


*{
    box-sizing:border-box;
}

body{
    background-image: linear-gradient(to right top, #23e2c2, #19e957,#4219d86b,#4e11db6e);
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;

    min-height:100vh;
    margin: 0;
}

h3{
    margin: 10px 0;
}
h6{
    margin:5px 0;
}
p{
    font-size: 14p;
    line-height: 21px;
    width: 80%;
    margin:0 auto;
    margin-bottom: 1rem;
}

.card-container{
    background-color: #5eeb1d6b;
    border-radius: 25px;
    box-shadow: 10px 10px 15px;
    text-align: center;
}

.skills{
    background-color: azure;
    text-align: left;
    padding: 15px;
    margin-top:30px;
}

.skills ul{
    list-style-type: none;
    margin: 0;
    text-align: left;
    padding: 0;
}

.message{
    position:absolute;
    top: -30%;
    margin-left: 0;
    background-color: azure;
    padding: 1 rem 3rem;
}